.picture {
  display: flex;
  position: relative;
}

.picture__img {
  width: 200px;
  height: 200px;

  object-fit: cover;
  border: 3.5px var(--white-color) solid;
  background-color: var(--white-color);
  border-radius: 7%;
}

.picture__img--favorite {
  margin-bottom: 20px;
}
.picture__favorite-button {
  position: absolute;
  right: 6px;
  top: 6px;

  background-image: url("https://img.icons8.com/ios-filled/60/f5f5f5/hearts.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  width: 35px;
  height: 35px;

  border: none;

  background-color: rgba( 0, 0, 0, 0);
}

.picture__favorite-button:hover {
  background-image: url("https://img.icons8.com/ios-filled/60/ff0000/hearts.png");
  transition: 250ms;
  transform-origin: center;
  transform: scale(1.15);
}

