.random-cats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 600px;
}

.random-cats__title {
  font-size: 3.4rem;
  color: var(--fourth-color);
}
