.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border: 3.5px var(--white-color) solid;
  border-radius: 15px;
  background-color: var(--third-color);
}

.thumbnail__text {
  margin-top: 6px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 900;
  color: var(--black-color);
}

.thumbnail__text--hidden {
  display: none;
}

.thumbnail__img {
  object-fit: cover;
  background-position: center;
  width: 64px;
  height: 64px;
}

.thumbnail__img--loaded {
  border-radius: 15px;
  width: 193px;
  height: 193px;
}
